section.section1 {visibility: hidden; max-width: 600px;position:fixed; }
section.section2 {visibility: hidden;max-width: 600px;position: fixed;}
section.section3 {visibility: hidden;max-width: 600px;position: fixed;}